:root {
    --black: #181722;
    --white: #f0f0f0;
    --box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color:rgba(32, 42, 56, 1);
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, #616161, transparent);
    z-index: 1;  
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 39;
}

.contact .content {
    margin-top: -100px;
    max-width: 700px;
    text-align: center;
}

.contact .content h2 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
}

.contact .content p {
    font-weight: 400;
    color: #fff;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    color: #ffffff;
    background: linear-gradient(#93A5CF, #1f1f1f);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    margin-top: -5px;
}

.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 400;
}

.container .contactInfo .box .text h3 {
    font-weight: 700;
    color: #00bcd4;
}

.contactForm {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    width: 400px;
    transition: transform 0.3s ease-in-out;
}

.contactForm:hover {
    transform: scale(1.05);
}

.contactForm h2 {
    text-align: center;
    font-size: 27px;
    color: #fff;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 350px;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    background-color: transparent;
    color: #fff; 
    border: none;
    border-bottom: 2px solid #fff; 
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #fff;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
    color: #eaf734;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width: 100%;
    background: linear-gradient(#000000, #414141);
    color: #ffffff;
    font-weight: 600;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.contactForm .inputBox input[type="submit"]:hover {
    background: radial-gradient(#414141, #000000);
}

footer {
    background-color: #616161; 
    z-index: 1; 
    position: relative; 
    padding: 20px;
    text-align: center;
    color: white;
    margin-bottom: -5px;
}